<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>豆瓣电影</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css">
  <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  <div id="app">
    <top-bar v-model="search" v-on="{searchMovie}"></top-bar>
    <transition name="fade">
    <keep-alive exclude="Detail,Search">
      <router-view></router-view>
    </keep-alive>
  </transition>
    <bottom-nav v-if="seen"></bottom-nav>
  </div>
</body>

</html>
