.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.mu-grid-tile-title-container {
  margin-left: 0;
  text-align: center;
}

.mu-grid-tile-subtitle,.mu-card-title-container .mu-card-sub-title {
  color: #e09015;
}

p.bottom {
  text-align: center;
  font-size: 18px;
  color: #4caf50;
}
